<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <h1>Rahul Jayswal (N01579470)</h1>
    </header>
    <div class="content">
        {{{body}}}
    </div>
    <footer>
        <p>Email: rahul1353rkj@gmail.com</p>
    </footer>
</body>
</html>
