<h1>{{title}}</h1>
<form action="/api/products/search/" method="post">
        <label for="productId">Enter Product ID:</label>
        <input type="text" id="productId" name="asin" required>
        <button type="submit">Search</button>
</form>